@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(90deg, #f2eeb3, #f2d64b);
}

main {
  background-color: #ffffff;
  width: 600px;
  padding: 10px;
  margin: auto;
  box-shadow: 5px 5px 15px #af9b36;
}

h1 {
  color: #8d3b72;
  text-align: center;
  text-shadow: 1px 1px 2px #692c55d2;
}

h2 {
  color: #508991;
}

p {
  text-align: justify;
}
